

body{
	background-color: black;
	font-color: white;
	font-size: 18px;

}

.main-container{
	background-color: pink;
	padding: 20px;
	width: 1000px;
	border-width: 5px;
	margin: 0 auto;
	font-size: 20px;
	
}

.main-container h1{
	font-size: 28px;
	text-indent: 30px;
	font-weight: 5px;
	color: red;

}

